{% extends "home.html" %}
{% load static %}


{% block login %}
    {% include 'navbar_logged.html' %}
{% endblock %}

{% block content %}
    {% block tasktext %}
        <div id="taskbox-container">
            <form action="{% url 'submit' %}" method="post" id="add-wish">
                {% for field in task_box %}{% csrf_token %}
                    {{ field }}
                {% endfor %}
            <div class="button-add"><input class="btn-add" type="submit" value="ADD WISH"></div>
            </form>
        </div>
    {% endblock %}

    {% block tasklist %}
    <div id="show-wishes">
    <div id="all-wishes-container">

        {% for task in tasks %}
            <div id="wish-container">
                <div class="avatar">
                    {{ task.user.profile.something_stupid }}
                    {% if task.user.profile.image %}
                        <img id="center-img" src="{{ task.user.profile.image.url }}" height="90px" width="90px">
                    {% endif %}
                </div>

                <div class="middle-field">
                    <div class="task-text">{{ task.task_text }}</div>
                    <div class="usr-date">
                        <div class="username"><a href="{% url 'profile' user_id=task.user.id %}">{{ task.user.username }}</a></div>
                        <div class="calendar-padding"><img src="{% static "img/calendar.png" %}" width="15px"/></div>
                        <div class="date">Added {{ task.creation_date|timesince }} ago</div>
                    </div>
                </div>

                <div class="right-field">
                    <div class="vote-up">
                        {% if not task.user == request.user %}
                            <a href="{% url 'vote-up' wish_id=task.id %}"><img src="{% static "img/vote_up.png" %}" width="45px"/></a>
                        {% endif %}
                    </div>
                    <div class="rank">{{ task.rank }}</div>
                    <div class="vote-down">
                        {% if not task.user == request.user %}
                            <a href="{% url 'vote-down' wish_id=task.id %}"><img src="{% static "img/vote_down.png" %}" width="45px"/></a>
                        {% endif %}
                    </div>
                </div>

                <div class="delete-btn">
                    {% if task.user == request.user %}
                        <a href="{% url 'delete' wish_id=task.id %}"><img id="img-btn" src="{% static "img/delete.png" %}" width="25px"/></a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
    {% endblock tasklist %}
{% endblock content %}
</body>
</html>